{% extends 'faculty_templates/base.html' %}
{% block page_title %}
<i class="nav-icon fas fa-tachometer-alt"></i> Home
{% endblock page_title %}


{% block main_content %}
    <div>
        <div class="text-center">
            <h1>{{ type }}</h1>
        </div>
        <div class="text-center">
            <p>{{add_info}}</p>
        </div>
        <div class="text-center">
            <p>{{date}}</p>
        </div>
        <div class="text-center">
            <p>{{response}}</p>
        </div>
    </div>
{% endblock main_content %}