{% extends 'faculty_templates/base.html' %}
{% load static %}
{% load humanize %}
{% block page_title %}
<i class="nav-icon fas fa-pen"></i> Edit Notice
{% endblock page_title %}
{% block custom_css %}
<link rel="stylesheet" href="{% static " plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static " plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static " plugins/datatables-buttons/css/buttons.bootstrap4.min.css" %}">
<style>
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    .col-25 {
        float: left;
        width: 5%;
        margin-top: 6px;
        margin-left: 100px;
    }

    .col-75 {
        float: left;
        width: 70%;
        margin-top: 6px;
    }

    input[type=submit] {
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: auto;
        margin-right: 20px;
        margin-bottom: 10px;
    }
</style>
{% endblock custom_css %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Notice</h3>
                    </div>

                    <form action="{% url 'faculty_notice_edit' user.username notice.id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-25">
                                <label for="notice_name">Name:</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="notice_name" name="notice_name" value={{ notice.notice_name }}>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-25">
                                <label for="content">Content:</label>
                            </div>
                            <div class="col-75">
                                <textarea id="content" name="content" style="height:200px">{{ notice.content }}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <input class="btn btn-primary shadow-custom font-weight-bold" type="submit" value="Submit">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% block custom_js %}
<!-- DataTables  & Plugins -->
<script src="{% static " plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static " plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static " plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static " plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
<script src="{% static " plugins/datatables-buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static " plugins/datatables-buttons/js/buttons.bootstrap4.min.js" %}"></script>
<script src="{% static " plugins/jszip/jszip.min.js" %}"></script>
<script src="{% static " plugins/pdfmake/pdfmake.min.js" %}"></script>
<script src="{% static " plugins/pdfmake/vfs_fonts.js" %}"></script>
<script src="{% static " plugins/datatables-buttons/js/buttons.html5.min.js" %}"></script>
<script src="{% static " plugins/datatables-buttons/js/buttons.print.min.js" %}"></script>
<script src="{% static " plugins/datatables-buttons/js/buttons.colVis.min.js" %}"></script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
            "order": [[0, "desc"]]

        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock custom_js %}
{% endblock main_content %}