{% extends 'faculty_templates/base.html' %}
{% block page_title %}
<i class="ion-ios-calendar"></i> Timetable
{% endblock page_title %}


{% block main_content %}
    <div class="container-fluid" style="display: flex; flex-wrap: wrap;">
        <div class="col-lg-3 col-6" style="min-width: 30%;">
            <div class="small-box bg-success shadow-custom" style="background-color: rgb(0, 181, 253) !important;">
                <div class="inner">
                    <h3>Class TimeTable</h3>
                    <p>Download class timetable for this semester</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users" style="font-size: 4em;"></i>
                </div>
                <a href="{% url 'faculty_timetable_class' user.username %}" target="_blank" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6" style="min-width: 30%;">
            <div class="small-box bg-success shadow-custom" style="background-color: rgb(0, 181, 253) !important;">
                <div class="inner">
                    <h3>Exam TimeTable</h3>
                    <p>Download exam timetable  for this semester</p>
                </div>
                <div class="icon">
                    <i class="fas fa-pen" style="font-size: 4em;"></i>
                </div>
                <a href="{% url 'faculty_timetable_exam' user.username %}" target="_blank" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6" style="min-width: 30%;">
            <div class="small-box bg-success shadow-custom" style="background-color: rgb(0, 181, 253) !important;">
                <div class="inner">
                    <h3>Calender</h3>
                    <p>View Academic Calender of this year</p>
                </div>
                <div class="icon">
                    <i class="fas fa-calendar" style="font-size: 4em;"></i>
                </div>
                <a href="https://www.iiitg.ac.in/calendar_rest1.php" target="_blank" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
{% endblock main_content %}