{% extends 'header.html' %}

{% block content %}

	{% load crispy_forms_tags %}

	<!--Reset Password-->
		<span class="login100-form-title p-b-55">Reset Password</span>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form class="login100-form validate-form" method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
			<div class="container-login100-form-btn p-t-25">
				<button type="submit" class="login100-form-btn">Send Email</button>
			</div>
        </form>

{% endblock %}