{% extends 'student_templates/base.html' %}
{% load static %}
{% load humanize %}
{% block page_title %}
<i class="ion ion-ribbon-b"></i> Marks
{% endblock page_title %}
{% block custom_css %}
<link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/datatables-buttons/css/buttons.bootstrap4.min.css" %}">
{% endblock custom_css %}
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Marks</h3>
          </div>

          <div class="card-body">
            <table id="example1" class="table table-striped">
              <thead>
                <tr>
                  <th>Exam</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 50px;">Quiz 1</td>
                  <td>{{ quiz1 }}</td>
                </tr>
                <tr>
                  <td style="width: 50px;">Midterm</td>
                  <td>{{ midterm }}</td>
                </tr>
                <tr>
                  <td style="width: 50px;">Quiz 2</td>
                  <td>{{ quiz2 }}</td>
                </tr>
                <tr>
                  <td style="width: 50px;">Endsem</td>
                  <td>{{ endterm }}</td>
                </tr>
                <tr>
                  <td style="width: 50px;">Assignment</td>
                  <td>{{ assignment }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}